.speech{
    font-size: medium;
    font: 400;
}

.song{
    font-size: medium;
    font: 400;
}

.direction{
    font-size: larger;
    font:700;
    background-color: lightcoral;
}

.name{
    font-size: x-large;
    font:700
}

direction .hover{
    background-color:darkred;
    color: white
}

.mik{
    color:blue;
    background-color: lightblue;
}

.kat{
    color:red;
    background-color: lightcoral;
}

.ko{
    color:green;
    background-color: lightgreen;
}

.pooh{
    color:purple;
    background-color: lightpink;
}

.pitti{
    color:orange;
    background-color: lightyellow;
}

.speech{
    font-style: italic;
    font-weight: 300;
}

.song{
    font-style: italic;
    font-weight: 200;
}


table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

tr{
    border: 1px solid black;
    border-collapse: collapse;
}
.stripe{
    background-color: lightgray;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
